.row {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  width: 100%;
  gap: 1em;
}

.column {
  flex: 1;
  min-width: 1;
  justify-content: center;
}

.Hike-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 100em;
  margin-top: 1rem;
  padding: 2em;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: flex;
  flex-direction: row;
}

.form-group input {
  margin: .5em;
}
.hike-features input {
  margin: .5em;
}


.fancy-number {
  color: #ffc038;
}

.filteredTrails {
  display: flex;
  flex-direction: column;
  justify-self: center;
  flex-wrap: nowrap;
  flex-basis: 1;
  height: 30em;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(39, 48, 39);
  overflow: scroll;
  padding: 2em;
}

.plan-hike {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  overflow: scroll;
  scrollbar-width: thin;
  justify-self: center;
  border: 1px solid #0b8043;
  background-color: #2f5a45;
  max-height: 28em;
  width: 60%;
  padding: 3em;
  margin-top: 1em;
  gap: 1rem;
}

.plan-hike input {
  max-width: 100%;
}

.map-box {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}


.hike-form-header {
  display: flex;
  align-self: center;
  justify-self: center;
}

/* Scrollbar Styles */
.filteredTrails::-webkit-scrollbar {
  width: 12px;
}

.filteredTrails::-webkit-scrollbar-track {
  border-radius: 8px;
}

.filteredTrails::-webkit-scrollbar-thumb {
  background: #0f9d58;
  border-radius: 8px;
}

.filteredTrails::-webkit-scrollbar-thumb:hover {
  background: #0b8043;
}

/* For Firefox */
.filteredTrails {
  scrollbar-width: thin;
  scrollbar-color: #0f9d58;
}

@media screen and (max-width: 600px) {
  .filteredTrails {
    height: 150px;
  }
}


.trail-card {
  display: flex;
  border-bottom: 1px solid white;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.trail-card h4 {
  color:  #e6b751;
}


input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;

  /*  styling the track  */
  background: #c1fac4;
  border-radius: 16px;

}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background:  #ffc038;
  border-radius: 16px;

}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* WebKit (Chrome, Safari, etc.) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 50px;
  width: 50px;
  background-image: url("https://ik.imagekit.io/b0xq0alh4/National%20Park%20Capstone/hikerbro.png?updatedAt=1747454153760");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  transform: rotateZ(var(--thumb-rotate, 0deg));
  margin-top: -17.5px;
  /* Optional tweak to vertically center on track */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 50px;
  width: 50px;
  background-image: url("https://ik.imagekit.io/b0xq0alh4/National%20Park%20Capstone/hikerbro.png?updatedAt=1747454153760");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  transform: rotateZ(var(--thumb-rotate, 0deg));
}


.elevation-graph {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  justify-self: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  background-image: url("https://ik.imagekit.io/b0xq0alh4/National%20Park%20Capstone/elevation%20bg.png?updatedAt=1747753420107");
  background-size: cover;
  aspect-ratio: 4 / 3;
  background-position: center;
}

.elevation-graph svg {
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  left: 0;
  bottom: 50%;
  width: 80%;
  height: 50%;
  pointer-events: none;
  /* So clicks go through to slider if needed */
}

.elevation-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 20em;
  background-color: rgb(27, 27, 27);
  color: #fff;
  text-align: left;
  padding: 1em;
  border-radius: 6px;
  opacity: 80%;

  /* Position the tooltip text - see examples below! */

  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.accessibility-info-container {
  border: 1px solid white;
  background-color: rgb(39, 48, 39);
  padding: 1rem;
  margin: 1rem;
}

.accessibility-expand {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

.accessibility-expand a {
  display: flex;
  color: rgb(255, 255, 255);
  text-align: center;
}

.accessibility-expand a:hover {
  display: flex;
  color: rgb(17, 148, 87);
}