@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Patrick+Hand+SC&family=Yellowtail&display=swap');

.hike-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 2em;
}

.hike-form-header h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: "Kiwi Maru";
}

.save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 2em;
    gap: 2em;
}

.save-btn button {
    background-color: #1d8f58;
    font-family: "Kiwi Maru", Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
}
.delete-button  {
    background-color: #8f1d1d;
    font-family: "Kiwi Maru", Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
}

.form-control {
    width: 30em;
    height: 3em;
}

.drop-down select {
    width: 30em;
    height: 3em;
}

.plan-hike-scroll {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    overflow: scroll;
    scrollbar-width: thin;
    justify-self: center;
    background-color: #0c3f28;
    max-height: 28em;
    width: 60%;
    padding: 3em;
    margin-top: 1em;
    gap: 1rem;
    border-radius: 1%;
}