
.landscape {
	background: var(--c1);
	height: 30em;
	overflow: hidden;
	position: sticky;
}

.landscape__layer {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
    overflow: hidden;
}


.landscape__image_3 {
	position: relative;
	left: 50%;
    right: 50%;
    bottom: -10%;
	transform: translateX(-50%);
	max-height: 100%;
	max-width: 300%;
	min-width: 100%;
	width: 100%;
     overflow: clip;
}

.landscape__image_4 {
	position: relative;
	left: 50%;
    right: 50%;
    bottom: 20%;
	transform: translateX(-50%);
	max-height: 100%;
	max-width: 300%;
	min-width: 100%;
	width: 100%;
}

.landscape__image_2 {
	position: relative;
	bottom: 0%;
	left: 50%;
    right: 50%;
	transform: translateX(-50%);
	max-height: 100%;
	max-width: 300%;
	min-width: 100%;
	width: 100%;
    overflow: clip;
}
.landscape__image_1 {
	position: relative;
	bottom:-40%;
	left: 50%;
    right: 50%;
	transform: translateX(-50%);
	max-height: 100%;
	max-width: 300%;
	min-width: 100%;
	width: 100%;
    overflow: hidden;
}
.landscape__image_12 {
	position: relative;
	bottom:30%;
	left: 50%;
    right: 50%;
	transform: translateX(-50%);
	max-height: 100%;
	max-width: 300%;
	min-width: 100%;
	width: 100%;
    overflow: clip;
}

/* .landscape__image svg {
	display: block;
	height: auto;
	max-width: 100%;
} */@media (max-width: 768px) {
  .landscape {
    height: 20em; /* or reduce more depending on design */
    width: 60em;
  }

  .landscape__image_12,
  .landscape__image_4,
  .landscape__image_3,
  .landscape__image_2,
  .landscape__image_1 {
   
    max-width: 200%; /* scale down */
    min-width: 100%;
    width: 100%;
   /* shrink layer slightly */
  }
}