@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Patrick+Hand+SC&family=Yellowtail&display=swap');

.my-hike-plans {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  max-height: 100%;
  margin: 4rem auto;
  padding: 3em;
}

.hike-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
}

.empty-hike-plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Pacifico", cursive;
  background: linear-gradient(0deg, #473107 0%, #724410 100%);
  border: solid 5px;
  border-radius: 1em;
  width: 40em;
  height: 20em;
  color: white;
  text-shadow: 2px 1px 20px rgb(82, 52, 14);
  -webkit-text-stroke: 2px #412b1709;
}

.empty-hike-plans h2 {
  font-family: "Pacifico", cursive;
  color: white;
  text-shadow: 2px 1px 20px rgb(82, 52, 14);
  -webkit-text-stroke: 2px #412b1709;
  font-size: 2em;
  padding: 0%;
}

.centered {
  justify-content: center;
  align-items: center;
}

.created-hikes {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  gap: 1.5em;
  flex: 1;
  border-radius: 1em;
  padding: 1.5em;
  padding-top: 23px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #0c3f28;
}

.created-hikes h2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1.5em;
  flex: 1;
  font-family: "Kiwi Maru", cursive;
  font-size: 2.5em;
}

.hike-plan-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #167048;
  border-radius: 10px;
  align-items: center;
  width: 50em;
  padding: 1em;
}
.hike-plan-item:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1d634c;
  border-radius: 10px;
  align-items: center;
  width: 50em;
  padding: 1em;
}

.hero-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Yellowtail", Arial, Helvetica, sans-serif;
  background: linear-gradient(0deg, #473107 0%, #724410 100%);
  border: solid 5px;
  border-radius: 1em;
  width: 30em;
  height: 15em;
  color: white;
  text-shadow: 2px 1px 20px rgb(82, 52, 14);
  -webkit-text-stroke: 2px #412b1709;
}

.hero-header h3 {
  font-family: "Yellowtail", serif;
  color: white;
  text-shadow: 2px 1px 20px rgb(82, 52, 14);
  -webkit-text-stroke: 2px #412b1709;
  font-size: 2.5em;
  padding: 0%;
}

.header-btn {
  font-size: 1em;
  padding: 0.75em 1.5em;
  background-color: #1d8f58;
  font-family: "Kiwi Maru", Arial, Helvetica, sans-serif;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-btn:hover {
  background-color: #0c3f28;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Alerts */

.park-alerts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e0d4bf;
  border-radius: 1em;
  width: 100%;
  color: white;
  font-family: "Kiwi Maru", serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  gap: 1em;
}

.header-alert {
  background-color: #3f0e0c;
  border-radius: 1em 1em 0 0;
  justify-items: center;
  width: 100%;
}

.park-alert {
  color: #0c3f28;
  width: 100%;
  justify-items: center;
  border-bottom: solid 1px;
  border-block-width: 10%;
  margin: 1em;
}
.header-alert a {
  color: #ffffff;
}
.header-alert a:hover {
  color: #a8a8a8;
}


/* Tooltip container */
.alert-details {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.alert-details .alert-details-text {
  visibility: hidden;
  width: 20em;
  background-color: rgb(58, 54, 54);
  opacity: 80%;
  color: #fff;
  text-align: left;
  padding: 1em;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */

  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.alert-details:hover .alert-details-text {
  visibility: visible;
}